<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/layout.html}">
<head>
    <meta charset="UTF-8">
    <style>
        .was-validated .form-check-input:valid, .form-check-input.is-valid {
            background-color: #6600ffe3 !important;
        }


        .layout-file {
            display: none;
        }

        .uploadButton {
            display: inline-block;
            padding: 10px 20px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
        }

        .uploadButton:hover {
            background-color: #0056b3;
        }

        .dz-preview {
            display: inline-block;
            vertical-align: top;
        }
    </style>

    <link rel="stylesheet" th:href="@{/customAssets/css/image.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/libs/dropzone/dropzone.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center py-3 mb-4">
        <h4 class="fw-bold m-0" data-i18n="builder.editBuilder">Редактировать Здание</h4>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <form id="formBuilderProperty">
                <div class="nav-align-top">
                    <ul class="nav nav-pills mb-4" role="tablist">
                        <li class="nav-item">
                            <button
                                    type="button"
                                    class="nav-link active"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-pills-top-home"
                                    aria-controls="navs-pills-top-home"
                                    aria-selected="true"
                                    data-i18n="main">
                                Основное
                            </button>
                        </li>
                        <li class="nav-item">
                            <button
                                    type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-pills-top-profile"
                                    aria-controls="navs-pills-top-profile"
                                    aria-selected="false"
                                    data-i18n="gallery">
                                Галерея
                            </button>
                        </li>
                        <li class="nav-item">
                            <button
                                    type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-pills-top-messages"
                                    aria-controls="navs-pills-top-messages"
                                    aria-selected="false"
                                    data-i18n="planning">
                                Планировки
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="navs-pills-top-home" role="tabpanel">
                            <div class="row g-3 needs-validation" novalidate>
                                <input type="hidden" id="builderId">
                                <div class="col-md-3">
                                    <label for="name" class="form-label" data-i18n="builder.name">Название</label>
                                    <input type="text" class="form-control" id="name"
                                           data-i18n="[placeholder]builder.namePlaceHolder"
                                           placeholder="ЖК 'Ривьера Сити'" data-error="name">
                                </div>

                                <div class="col-md-3">
                                    <label for="regDistrictId" class="form-label" data-i18n="builder.regDistrict">Обл.
                                        район</label>
                                    <select class="form-select" id="regDistrictId" required>
                                        <option value="" data-i18n="builder.selectRegDistrict" selected></option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="cityId" class="form-label" data-i18n="builder.city">Нас. пункт</label>
                                    <select class="form-select" id="cityId" required disabled>
                                        <option value="" data-i18n="builder.selectCity" selected>Выберите нас. пункт
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="districtId" class="form-label"
                                           data-i18n="builder.selectDistrict">Район</label>
                                    <select class="form-select" id="districtId" required disabled>
                                        <option value="" data-i18n="builder.selectDistrict" selected>Выберите район</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="topozoneId" class="form-label" data-i18n="builder.topozone">Топозона</label>
                                    <select class="form-select" id="topozoneId" required disabled>
                                        <option value="" data-i18n="builder.selectTopozone" selected>Выберите топзону
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="street" class="form-label" data-i18n="builder.street">Улица</label>
                                    <input type="text" class="form-control" id="street"
                                           placeholder="Чехова" required
                                           data-error="street"
                                           data-i18n="[placeholder]builder.streetPlaceHolder">
                                </div>

                                <div class="col-md-6"></div>

                                <div class="col-md-2">
                                    <label for="houseNumber" class="form-label" data-i18n="builder.houseNumber">Номер
                                        дома</label>
                                    <input type="text" class="form-control" id="houseNumber" placeholder="7" required
                                           data-error="houseNumber">
                                </div>

                                <div class="col-md-2">
                                    <label for="houseSection" class="form-label" data-i18n="builder.houseSection">Секция/корпус</label>
                                    <input type="text" class="form-control" id="houseSection" placeholder="7" required>
                                </div>

                                <div class="col-md-2">
                                    <label for="totalFloor" class="form-label"
                                           data-i18n="builder.totalFloor">Єтажность</label>
                                    <input type="text" class="form-control" id="totalFloor" placeholder="9" required>
                                </div>

                                <div class="col-md-3">
                                    <label for="buildingCompanyId" class="form-label" data-i18n="builder.buildingCompany">
                                        Строительная компания</label>
                                    <select class="form-select" id="buildingCompanyId" required>
                                        <option value="" data-i18n="builder.selectCompany">Выберите компанию</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="deliveryType" class="form-label"
                                           data-i18n="deliveryType.selectDeliveryType">Срок сдачи</label>
                                    <select class="form-select" id="deliveryType" required>
                                        <option value="" data-i18n="deliveryType.selectDeliveryType">Выберите тип сдачи</option>
                                        <option value="deliveryType.underConstruction" data-i18n="deliveryType.underConstruction">
                                            Строится
                                        </option>
                                        <option value="deliveryType.partiallyDelivered" data-i18n="deliveryType.partiallyDelivered">В
                                            процессе сдачи
                                        </option>
                                        <option value="deliveryType.readyForOccupancy" data-i18n="deliveryType.readyForOccupancy">
                                            Готово к заселению
                                        </option>
                                        <option value="deliveryType.completed" data-i18n="deliveryType.completed">Дом сдан</option>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="phoneNumber" class="form-label"
                                           data-i18n="builder.phone">Телефон</label>
                                    <input type="tel" class="form-control" id="phoneNumber" placeholder="+380991112233"
                                           required data-error="phoneNumber">
                                    <div class="invalid-feedback" data-i18n="personal.phoneRequired">Пожалуйста, введите
                                        телефон
                                    </div>
                                </div>

                                <div class="col-md-8"></div>
                                <div class="col-md-5">
                                    <label for="chessPlanFile" class="form-label"
                                           data-i18n="builder.chessPlan">Шахматка</label>
                                    <input type="file" class="form-control file-hidden file-alone file-pdf"
                                           id="chessPlanFile"
                                           data-error="chessPlanFile">
                                    <small id="chessPlanFileLink"></small>
                                </div>

                                <div class="col-md-7" style="align-content: end"></div>
                                <div class="col-md-5">
                                    <label for="mortgageConditionsFile" class="form-label"
                                           data-i18n="builder.mortgageConditions">Условия
                                        рассрочки</label>
                                    <input type="file" class="form-control file-hidden file-alone file-pdf"
                                           id="mortgageConditionsFile"
                                           data-error="mortgageConditionsFile">
                                    <small id="mortgageConditionsFileLink"></small>
                                </div>
                                <div class="col-md-7" style="align-content: end"></div>

                                <div class="col-md-5">
                                    <label for="priceFile" class="form-label" data-i18n="builder.priceFile">Файл с
                                        ценами</label>
                                    <input type="file" class="form-control file-hidden file-alone file-pdf" id="priceFile"
                                           data-error="priceFile">
                                    <small id="priceFileLink"></small>
                                </div>
                                <div class="col-md-7"></div>

                                <div class="col-md-5">
                                    <label for="description" class="form-label" data-i18n="builder.description"
                                           data-error="description">Описание:</label>
                                    <textarea class="form-control" id="description" rows="3" required></textarea>
                                </div>

                                <h4 data-i18n="builder.promotion">Акция</h4>

                                <div class="col-md-4">
                                    <label for="actionTitle" class="form-label" data-i18n="builder.name"
                                           data-error="actionTitle">Название</label>
                                    <input type="text" class="form-control" id="actionTitle" disabled>
                                </div>

                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <label for="actionDescription" class="form-label" data-i18n="builder.description"
                                           data-error="ActionDescription">Описание:</label>
                                    <textarea class="form-control" id="actionDescription" rows="3" disabled></textarea>
                                    <div class="form-check mt-4">
                                        <input class="form-check-input" type="checkbox" value="" id="isAction"/>
                                        <label class="form-check-label" for="isAction" data-i18n="builder.isAction">
                                            Включить акцию
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-8"></div>
                                <div class="col-12 mt-4 text-end">
                                    <button type="submit" class="btn btn-primary me-2" data-i18n="builder.save">Сохранить
                                    </button>
                                    <a th:href="@{/builder}" class="btn btn-label-secondary"
                                       data-i18n="personal.cancel">Отмена</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="navs-pills-top-profile" role="tabpanel">
                            <div class="dropzone needsclick" id="dropzone-basic">
                                <div class="dz-message needsclick" data-i18n="dropzone.information"></div>
                                <div class="fallback">
                                    <input name="file" type="file"/>
                                </div>
                            </div>
                            <template id="preview-template">
                                <div class="dz-preview dz-file-preview"
                                     style="display: inline-block; margin: 10px; position: relative;">
                                    <div class="dz-image" style="width: 120px; height: 120px; overflow: hidden;">
                                        <img data-dz-thumbnail
                                             style="width: 100%; height: 100%; object-fit: cover;"/>
                                    </div>
                                    <div class="dz-details" style="text-align: center;">
                                        <div class="dz-size"><span data-dz-size></span></div>
                                        <div class="dz-filename"><span data-dz-name></span></div>
                                    </div>
                                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span>
                                    </div>
                                    <div class="dz-error-message"><span data-dz-errormessage></span></div>

                                    <!-- Хрестик для видалення -->
                                    <a class="dz-remove" href="javascript:undefined;" data-dz-remove
                                       style="position: absolute; top: 2px; right: 2px; background: white; color: red; border-radius: 50%; padding: 2px 6px; font-weight: bold; text-decoration: none;">
                                        ✖
                                    </a>
                                </div>
                            </template>

                            <div class="col-12 mt-4 text-end">
                                <button type="submit" class="btn btn-primary me-2" data-i18n="builder.save">
                                    Сохранить
                                </button>
                                <a th:href="@{/builder}" class="btn btn-label-secondary"
                                   data-i18n="personal.cancel">Отмена</a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="navs-pills-top-messages" role="tabpanel">
                            <div id="layoutsContainer" class="row"></div>
                            <div class="col-12 mt-4 text-end">
                                <button id="addLayoutBtn" class="btn btn-primary me-2" data-i18n="addPlaning">Добавить
                                    планировку
                                </button>
                            </div>
                            <div class="col-12 mt-4 text-end">
                                <button type="submit" class="btn btn-primary me-2" data-i18n="builder.save">Сохранить
                                </button>
                                <a th:href="@{/builder}" class="btn btn-label-secondary"
                                   data-i18n="personal.cancel">Отмена</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script th:src="@{/customAssets/js/pravnyk/image.js}"></script>
    <script th:src="@{/customAssets/js/pravnyk/validator.js}"></script>
    <script th:src="@{/assets/vendor/libs/dropzone/dropzone.js}"></script>
    <script th:src="@{/customAssets/js/builderProperty/formBuilderProperty.js}"></script>
    <script src="https://unpkg.com/i18next@21.6.16/i18next.min.js"></script>
    <script src="https://unpkg.com/i18next-http-backend@1.4.2/i18nextHttpBackend.min.js"></script>
    <script src="https://unpkg.com/jquery-i18next@1.2.1/dist/umd/jquery-i18next.min.js"></script>
    <script th:inline="javascript">
        window.contextPath = '[[@{/}]]'.replaceAll('"', '');
        window.defaultAvatarPath = '[[@{/assets/img/avatars/14.png}]]';
    </script>
    <script>
        i18next
            .use(i18nextHttpBackend)
            .init({
                lng: 'en',
                fallbackLng: 'en',
                backend: {
                    loadPath: '/admin/assets/json/locales/{{lng}}.json'
                }
            }, function () {
                jqueryI18next.init(i18next, $, {
                    useOptionsAttr: true
                });
                $('body').localize();
            });

        function changeLangMy(lang) {
            document.cookie = `locale=${lang}; path=/;`;
            i18next.changeLanguage(lang, function () {
                $('body').localize();
            });
        }
    </script>
</div>
</body>
</html>