<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template/layout.html}">

<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center py-3 mb-4">
        <h4 class="fw-bold m-0"
            th:data-i18n="${pageTitle}">Создать пользователя</h4>
    </div>

    <div class="row">
        <div class="col-12"> <!-- Changed from col-xl-auto to make tabs full width -->
            <div class="nav-align-top mb-4">
                <ul class="nav nav-pills mb-3" role="tablist">
                    <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                                data-bs-target="#informationPersonal" aria-controls="informationPersonal"
                                aria-selected="true" data-i18n="personal.informationTab">
                            Информация
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                                data-bs-target="#testimonialsPersonal" aria-controls="testimonialsPersonal"
                                aria-selected="false" data-i18n="personal.testimonialsTab">
                            Отзывы
                        </button>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="informationPersonal" role="tabpanel">
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img th:src="@{/assets/img/avatars/14.png}" alt="user-avatar"
                                     class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar"/>
                                <div class="button-wrapper">
                                    <label for="upload" class="btn btn-primary me-2 mb-3" tabindex="0">
                                        <span class="d-none d-sm-block" data-i18n="personal.uploadAvatar">Загрузите аватар</span>
                                        <i class="ti ti-upload d-block d-sm-none"></i>
                                        <input type="file" id="upload" class="account-file-input" hidden
                                               accept="image/png, image/jpeg"/>
                                    </label>
                                    <button type="button" class="btn btn-label-secondary account-image-reset mb-3">
                                        <i class="ti ti-refresh-dot d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block" data-i18n="personal.reset">Сбросить</span>
                                    </button>
                                    <div class="text-muted" data-i18n="personal.allowedFormats">Allowed JPG, GIF or PNG.
                                        Max size of 800K
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-3"/>
                        <div class="card-body">
                            <form id="formAdminUserProfile" method="POST" onsubmit="return false">
                                <input type="hidden" id="userId" name="userId"/>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <label for="branchesSelect" class="form-label" data-i18n="personal.branches">Филиалы</label>
                                        <div class="select2-primary">
                                            <select id="branchesSelect" class="select2 form-select" multiple>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="rolePersonal" class="form-label"
                                               data-i18n="personal.role">Роль</label>
                                        <select id="rolePersonal" name="role" class="form-select">
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="surname" class="form-label"
                                               data-i18n="personal.surname">Фамилия</label>
                                        <input class="form-control" type="text" id="surname" name="surname"/>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="name" class="form-label" data-i18n="personal.name">Имя</label>
                                        <input class="form-control" type="text" id="name" name="name" required/>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="lastName" class="form-label"
                                               data-i18n="personal.lastName">Отчество</label>
                                        <input class="form-control" type="text" id="lastName" name="lastName"
                                               required/>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="phoneNumber" class="form-label" data-i18n="personal.phoneNumber">Номер
                                            телефона</label>
                                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                               placeholder="202 555 0111"/>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="email" class="form-label" data-i18n="personal.email">E-mail</label>
                                        <input class="form-control" type="email" id="email" name="email" required
                                               pattern="^(.+)@(.+)$" placeholder="example@example.com"/>
                                    </div>

                                    <hr class="my-0"/>
                                    <div class="mb-3 col-md-6">
                                        <label for="password" class="form-label"
                                               data-i18n="personal.password">Пароль</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               placeholder="••••••••"/>
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <label for="confirmPassword" class="form-label"
                                               data-i18n="personal.confirmPassword">Подтверждение пароля</label>
                                        <input type="password" class="form-control" id="confirmPassword"
                                               name="confirmPassword" placeholder="••••••••"/>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="testimonialsPersonal" role="tabpanel">
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label d-block" data-i18n="personal.attachPdfFiles">Прикрепить PDF
                                    файлы</label>
                                <label class="btn btn-secondary me-2">
                                    <span data-i18n="personal.selectFile">Выбрать файл</span>
                                    <input type="file" id="fileUpload" multiple hidden>
                                </label>
                                <span id="pdfUploadStatus">Файл не выбран</span>

                                <div id="uploadedFilesList" class="mt-3">
                                    <div class="alert alert-info mt-2" role="alert" data-i18n="personal.fileUploadInfo">
                                        Если загружен файл, его можно скачать для просмотра или удалить.
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4"/>

                            <div id="reviewSectionsContainer">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navs-pills-top-messages" role="tabpanel">

                        <p>Messages tab content placeholder.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2 d-flex justify-content-end">
            <button type="reset" class="btn btn-label-secondary me-2" data-i18n="personal.cancel">Отмена</button>
            <button type="submit" class="btn btn-primary" data-i18n="personal.saveChanges">Сохранить изменения</button>
        </div>


        <div class="modal fade" id="deleteReviewConfirmModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteReviewConfirmModalLabel" data-i18n="personal.confirmDeletion">
                            Подтверждение удаления</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <span data-i18n="personal.confirmDeleteReviewMessage">Вы уверены, что хотите удалить этот отзыв?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary"
                                data-bs-dismiss="modal" data-i18n="personal.cancel">Отменить
                        </button>
                        <button type="button" class="btn btn-danger" id="confirm-delete-review-btn"
                                data-i18n="personal.delete">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
    <script th:src="@{/assets/js/forms-selects.js}"></script>
    <script th:src="@{/assets/axios.min.js}"></script>

    <script th:inline="javascript">
        window.contextPath = '[[@{/}]]'.replaceAll('"', '');
        window.defaultAvatarPath = '[[@{/assets/img/avatars/14.png}]]';
    </script>
    <script th:src="@{/customAssets/js/personal/formPersonal.js}"></script>

        <script>
        function localize() {
            let i18nList = document.querySelectorAll('[data-i18n]');

            let currentLanguageEle = document.querySelector('.dropdown-item[data-language="' + i18next.language + '"]');

            if (currentLanguageEle) {
                currentLanguageEle.click();
            }

            i18nList.forEach(function (item) {
                item.innerHTML = i18next.t(item.dataset.i18n);
            });
        }

        localize();
    </script>

</div>

</body>

</html>