<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<div layout:fragment="~{scripts}">
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
    <script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/vendor/libs/node-waves/node-waves.js}"></script>

    <script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
    <script th:src="@{/assets/vendor/libs/i18n/i18n.js}"></script>
    <script th:src="@{/assets/vendor/libs/typeahead-js/typeahead.js}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script th:src="@{/assets/vendor/libs/chartjs/chartjs.js}"></script>
    <script th:src="@{/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js}"></script>
    <script th:src="@{/assets/vendor/libs/autosize/autosize.js}"></script>
    <script th:src="@{/assets/vendor/libs/select2/select2.js}"></script>
    <script th:src="@{/assets/vendor/libs/moment/moment.js}"></script>
    <script th:src="@{/assets/vendor/libs/flatpickr/flatpickr.js}"></script>
    <script th:src="@{/assets/vendor/libs/typeahead-js/typeahead.js}"></script>
    <script th:src="@{/assets/vendor/libs/tagify/tagify.js}"></script>
    <script th:src="@{/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js}"></script>
    <script th:src="@{/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js}"></script>
    <script th:src="@{/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js}"></script>

    <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
    <script th:src="@{/assets/vendor/libs/bootstrap-select/bootstrap-select.js}"></script>
    <script th:src="@{/assets/vendor/libs/cleavejs/cleave.js}"></script>
    <script th:src="@{/assets/vendor/libs/cleavejs/cleave-phone.js}"></script>

    <script th:src="@{/assets/js/form-basic-inputs.js}"></script>
    <script th:src="@{/assets/vendor/libs/toastr/toastr.js}"></script>
    <!-- Vendors JS -->

    <script th:src="@{/assets/vendor/js/dropdown-hover.js}"></script>
    <script th:src="@{/assets/vendor/libs/bloodhound/bloodhound.js}"></script>


    <!-- Flat Picker -->
    <script th:src="@{/assets/vendor/libs/flatpickr/flatpickr.js}"></script>

    <script th:src="@{/assets/vendor/js/menu.js}"></script>
    <!-- endbuild -->


    <!-- Main JS -->
    <script th:src="@{/assets/js/main.js}"></script>

    <script th:src="@{/assets/axios.min.js}"></script>


    <!-- Custom JS -->
    <script th:src="@{/customAssets/js/formElementsScript.js}"></script>
    <script th:src="@{/customAssets/js/formCrudScript.js}"></script>
    <script th:src="@{/customAssets/js/previewImage.js}"></script>
    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/libs/block-ui/block-ui.js}"></script>

</div>

</html>