<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="scripts">

    <!-- Core JS -->
    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
    <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
    <script th:src="@{/assets/vendor/libs/node-waves/node-waves.js}"></script>
    <script th:src="@{/assets/vendor/libs/algolia/autocomplete-js.js}"></script>
    <script th:src="@{/assets/vendor/libs/pickr/pickr.js}"></script>
    <script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{/assets/vendor/libs/hammer/hammer.js}"></script>
    <script th:src="@{/assets/vendor/libs/i18n/i18n.js}"></script>
    <script th:src="@{/assets/vendor/libs/notyf/notyf.js}"></script>
    <script th:src="@{/assets/vendor/js/menu.js}"></script>


    <!-- Main JS -->
    <script th:src="@{/assets/js/main.js}"></script>

    <!-- Дополнительные JS -->
    <script th:src="@{/assets/axios.min.js}"></script>


    <!-- Custom JS -->
    <script th:src="@{/customAssets/js/formElementsScript.js}"></script>
    <script th:src="@{/customAssets/js/formCrudScript.js}"></script>
    <script th:src="@{/customAssets/js/previewImage.js}"></script>

    <script th:src="@{/customAssets/js/toast.js}"></script>

    <!-- Page JS -->
    <!-- Это место для JS конкретной страницы -->
    <th:block layout:fragment="page_js"></th:block>
</div>
</html>